# Env files
.env.*
!.env.template

# IDE
.idea/
*.iml

# System
.DS_Store
maestro.zip
# builds & archives
*.apk
*.aab
*.ipa
*.zip
*.tar
*.gz

# logs & tmp
*.log
logs/
tmp/
.DS_Store

# Maestro artifacts
*.mp4
*.png
*.json
maestro/results/
